.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #eee;
    color: #000;
}

ul li {
	list-style-type: none;
}

li.location {
	font-weight: 100;
    margin-bottom: 7px;
}

.main-container {
	padding-top: 50px;

	img {
		margin-left: 21px;
        margin-bottom: 40px;
	}
	hr {
		margin-top: -35px;
        margin-left: 21px;
	}
	h4 {
		font-weight: 200;
	}
}

header {
	background-color: #5092c2;
	height: 45px;
	width: 100%;
	padding: 10px;

	h4 {
		float: left;
		margin-top: 8px;
		font-weight: 200;
	}

	ul.nav {
        li a {
        	color: #000;
        }
        .welcome {
        	color: #eee;
        	margin-top: 7px;
			margin-right: 39px;
        }
	}
}